<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand"
      ui-sref="app.home"
      ng-bind="::$ctrl.appName | lowercase">
    </a>

    <!-- Show this for logged out users -->
    <ul class="nav navbar-nav pull-md-right pull-xs-left">

      <li class="nav-item"
        ng-hide="$ctrl.User.currentID">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.login">
          aanmelden als leerkracht
        </a>
      </li>

      <li class="nav-item"
        ng-show="$ctrl.User.currentID">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.aangemeld">
          advertentie aanpassen
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-button"
          ui-sref-active="active"
          ui-sref="app.register">
          Geef Les
        </a>
      </li>

    </ul>


  </div>
</nav>
