$primaryColor: #5CB85C;
$primaryColorDark: #478947;
$maxWidth: 768px;

@media screen and (max-width: $maxWidth){
  .banner-form{
    input, button{
      margin-top: 1px;
    }
    button{
      padding:{
        top: 5px;
        bottom: 5px;
      }
    }
  }
  .well-zoeken, .bekijken-style{
    h1{
      font-size: 24px;
    }
  }
}

.errorStyle{
  color: red;
  padding: 0px;
  margin: 0px;
}

.no-list-style{
  list-style-type: none;
}

.banner{
  background-color: $primaryColor;
  h1{
    font-size: 56px;
  }
}

.well-zoeken{
  cursor: pointer;
}

.nav-button{
  border-radius: 10px;
  background-color: $primaryColor;
  color: white;
}

.home-list{
  h1{
    margin-bottom: 15px;
    i{
      margin-right: 15px;
    }
  }
  ul{
    margin-left: 150px;
    @media screen and (max-width: $maxWidth){
      margin-left: 0px;
    }
    li{
      list-style-type: none;
      font-size: 120%;
      i{
        margin-right: 10px;
      }
    }
  }
}

.button-primary{
  background-color: $primaryColorDark;
  padding: 0px;
  font:{
    size: 110%;
  }
}

form{
  margin-top: 15px;
}
