$primaryColor: #5CB85C;
$primaryColorDark: #478947;

.no-list-style{
  list-style-type: none;
}

.well-zoeken{
  cursor: pointer;
}

.nav-button{
  border-radius: 10px;
  background-color: $primaryColor;
  color: white;
}

.home-list{
  h1{
    margin-bottom: 15px;
    i{
      margin-right: 15px;
    }
  }
  ul{
    margin-left: 150px;
    li{
      list-style-type: none;
      font-size: 120%;
      i{
        margin-right: 10px;
      }
    }
  }
}

.button-primary{
  background-color: $primaryColorDark;
  padding: 0px;
  font:{
    size: 110%;
  }
}

form{
  margin-top: 15px;
}
